# This file is part of Inspire-Magpie.
# Copyright (c) 2016 CERN
#
# Inspire-Magpie is a free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for
# more details.

include *.md
include LICENSE
recursive-include data *.gensim
recursive-include data *.npy
recursive-include data *.pickle
recursive-include inspire_magpie *.css
recursive-include inspire_magpie *.html
recursive-include inspire_magpie *.js
recursive-include inspire_magpie *.svg
